## Игнорируйте временные файлы Visual Studio, результаты сборки и
## файлы,созданные популярными дополнениями Visual Studio.

# Пользовательские файлы
*.suo
*.пользователь
*.sln.докторантура

# Результаты построения

[Dd]ebug/
[Rr]элеаза/
x64/
[Bb]в/
[Оо]би Джей/

# Результаты теста MSTest
[Tt]есть[Rr]результат*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.мета
*.возражение
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.войти
*.vspscc
*.vssscc
.строит
*.pidb
*.войти
*.svclog
*.scc

# Файлы кэша Visual C++ 
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.файла кэша

# Профилировщик Visual Studio
*.psess
*.всп
*.vspx

# Инструментарий Автоматизации Руководства
*.gpState

# ReSharper-это надстройка для кодирования .NET
_решарпер*/
*.[Rr]e[Ss]харпер
*.Настройки точек.пользователь

# Каталог с одним щелчком мыши
опубликовать/

# Опубликовать Веб-Вывод
*.Publish.xml
*.pubxml
*.azurePubxml

 Каталог пакетов # NuGet
## ЗАДАЧА: Если у вас включено восстановление пакета NuGet, раскомментируйте следующую строку
пакеты/
## TODO: Если для используемого вами инструмента требуется файл repositories.config, также раскомментируйте следующую строку
!пакеты/репозитории.config

# Вывод сборки Windows Azure
csx/
*.build.csdef

# Каталог пакетов приложений магазина Windows
AppPackages/

# Другие
sql/
*.Кэш
Клиентская база/
[Ss]тайл[Cc]соч.*
![Ss]тайл[Cc]оп.цели
~$*
*~
*.dbmdl
*.[Pp]ublish.xml

*.публикации

# Проекты RIA/Silverlight
Сгенерированный код/

# Резервное копирование файлов и отчетов при преобразовании старого файла проекта в новый
# Версия Visual Studio. Резервные копии файлов не нужны, потому что у нас есть git ;-)
_UpgradeReport_Files/
Резервноекопирование*/
Списокобновлений*.XML
Списокобновлений*.htm

# Файлы SQL Server
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Осколки окон
# =========================

# Кэш файлов образов Windows
Большие пальцы.дб
ehthumbs.db

# Файл конфигурации папки
Рабочий стол.ini

# Корзина, используемая в общих файловых ресурсах
$КОРЗИНА ДЛЯ МУСОРА/

# Файлы хранилища служб рабочего стола Mac
.DS_Store

_NCrunch*